@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
}
